

body{
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    background: #0656D3;
    background-image: url(https://cdn.discordapp.com/attachments/954789805823242280/1032259517490155548/849790.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 8%;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    overflow: hidden;
}

@font-face {
    font-family: 'Camar';
    src: url(fonts/Camar.ttf);
}

.front-face{
    width: 30%;
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
}
/* 
.blob-motion{
    position: absolute;
    transform: translateY(20vh);
} */

h3{
    font-family: 'Camar', sans-serif;
    font-size: 5em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
