@font-face {
    font-family: 'Camar';
    src: url(fonts/Camar.ttf);
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  background: url('/assets/849790.gif') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden; /* Hide scrollbars */
  position: relative;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}
.whole{
  z-index: 1;
  top: 100px;
}
.flip{
    transform: rotate(180deg);
}

h3 {
    font-family: 'Camar', sans-serif;
    font-size: 5em;
    padding: 2vh 2vw;
    text-align: center;
    border-style: solid;
    cursor: none;
    display: none;
}

p{
    font-family: 'ubuntu', sans-serif;
    font-size: 9px;
    font-weight: 50;
}

.links{
  color: #d3eaf2;
  display: none;
}

.links-pos{
  z-index: 9;
  position: absolute;
  top: 100px;
  padding-right: 25px;
  display: flex;
}

/* button css hover for multiple links*/

#links-github:hover{
  color:#cf75b1;
}
#links-linkedin:hover{
  color:#0077B5;
}
#links-facebook:hover{
  color:#8bc1f3;
}
#links-reddit:hover{
  color:#ee8181;
}
#links-instagram:hover{
  color:#f054e3;
}

#links-kofi:hover{
  color:#daa157;
}
#links-twitter:hover{
  color:grey;
}



/* button css*/

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    bottom: 50px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.3s;
  }

  .button-85:hover{
    background-color: transparent;
    color: aqua;
    cursor: none;
  }

  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #33E9FF,
      #33D1FF,
      #3393FF,
      #335BFF,
      #3C33FF,
      #335BFF,
      #3393FF,
      #33D1FF,
      #33E9FF
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  @keyframes glowing-button-85 {
    0% { 
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  li{
    display:inline-block;
    margin-right:7px;
    color: white;
  }
/* hover and links*/

a:link{
    text-decoration: none;
}

/* svg part*/

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('/assets/verynicecurves2.svg');
}

/* waves css */
.wave {
    position: relative;
    top: 620px;
    width: 300%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 10;

}

.wave svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #5a76c4;
}

.box-fill{
  background-color: #5a76c4;
  position: relative;
  top: 615px;
  height: 100px;
  width: 500vh;
  overflow:auto;
  z-index: 10;
}
/* ----------------------------------------- */
.loader-container{
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loader{
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1s reverse;
}


/* about area */

.hidden {
  display: none;
}

/* ----------------------------------------- */
.intro-div {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 300px; /* Initial left position */
  top: 200px;  /* Initial top position */
  cursor: move;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-div p {
  text-align: center;
  font-size: 16px;
  color: white;
}

.intro-div img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}

/* ----------------------------------------- */
.hobbies-div {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50px; /* Initial left position */
  top: 100px;  /* Initial top position */
  cursor: move;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hobbies-div p {
  text-align: center;
  font-size: 16px;
  color: white;
}

.hobbies-div img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}

/* -spacer- */
.hobbies-div {
  width: 200px;
  position: absolute;
  left: 2000px; /* Initial left position */
  top: 300px;  /* Initial top position */
  z-index: 1;
}


/* ----------------------------------------- */

.favorites-div {
  width: 200px;
    position: absolute;
    left: 1180px;
    top: 520px;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.favorites-div h2 {
  color: white;
}

.favorites-div p {
  font-size: 20px;
}

.favorites-div img {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

img {
  display: block;
  margin: 0 auto;
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes loader {
  25%{
    color: lightblue;
  }
  50%{
    color: lightgoldenrodyellow;
  }
  70%{
    color: lightsalmon;
  }
  to{
    transform: rotate(360deg);
  }
}